<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mi Primera App con Node y MySQL</title>
    <link rel="stylesheet" href="../src/views/css/boostrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../src/views/css/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../src/views/css/bootstrap-grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../src/views/css/bootstrap-grid.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../src/views/css/bootstrap-reboot.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../src/views/css/bootstrap-reboot.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../src/views/css/style.css" type="text/css" media="screen">
    <script type="text/javascript" src="../Plantila/layoutit/src/scripts.js">

    </script>


  </head>
  <body>
        <nav class="navbar navbar-dark bg-dark">
          <a href="/" class="navbar-brand">CRUD NODEJS MYSQL</a>

        </nav>
